body {
  font-family: Helvetica;
  background-color: white;
  line-height:1.25;
}

h1 {
  color: navy;
}

h2 {
  color: white;
  background-color: navy;
}

h3 {
  color: black;
}

h4 {
  color: red;
}

div.image {
  width:28.5%;
}

div.cv {
  width: 20%;
}

p {
  width: 20%;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: navy;
  padding-top: 2px;
  padding-bottom: 2px;
  float:left;
}

section {
  width:75%;
  margin-right: 50px;
  Margin-bottom: 25px;
  float:right;
  text-align: justify;
}

a {
  text-decoration: none; 
  color: navy;
  font-weight: bold;
}

a:hover {
  background: khaki;
}

a:active {
  color: purple;
}

a:visited {
  color: purple;
}